

<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2>Eat da Burger!</h2>


  {{#each burgers}}
    <li> {{id}} {{burger_name}} 
      <button type="button" class="btn btn-info">Devoured It!</button></li>
  {{/each}}
  </div>



  <div class="col-md-6">
    
  
<h2>Devoured It!</h2>
<li>
  {{#each devoured}}
    
     {{id}} {{ devoured}}
    
  {{/each}}
</li>
</div>
</div>
</div>
 
<div class="form-group">

<form class="create-form">
    <label for="bu"></label>
    <input type="text" id="bu" name="name">
    <p>Enter the burger you would like to eat</p> 
 
  <button type="submit">Submit</button>
</form>
 </div>